// @import './custom';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.main {
  max-width: 80%;
  margin: 30px auto;
  background-image: url('/assets/home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .buttons {
    margin: 20px 0;
  }
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .photo-container__img {
    height: 150px;
  }

  .personal-info {
    min-width: 400px;
  }
}
